.o_barcode_action {
    .popup-overlay {
        position: fixed;
        z-index: 10;
        inset: 0;
        transition: opacity 500ms;
        background: rgba(0, 0, 0, 0.7);

        > div {
            height: 100%;
        }
    }
 
    .popup-dialog {
        background: #ffffff;
        margin: 8rem auto 0;
        border-radius: 0;
        width: 600px;
        max-width: 90%;
        position: relative;
        border: 5px solid var(--primary);

        main {
            padding: 20px;
        }

        footer {
            background-color: #dddddd;
            padding: 10px;
        }

        h2 {
            font-weight: 500;
            text-align:center;
        }

        > div > div {
            display:flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        button {
            border-radius: 0;
            margin: 0 5px;
            min-width: 100px;
            min-height: 40px;
            font-size: 1.2em;
        }
    }

    .pagination {
        .page-left, .page-right {
            cursor: pointer;
            padding: 0.1rem 2rem;
            font-size: 50px;
        }

        .page-number {
            align-items: center;
            text-wrap: nowrap;
            display: flex;
            font-weight: bold;
            font-family: 'Roboto';
            letter-spacing: 2px;
            font-size: 30px;
        }
    }

    .scanning-screen-subbar-item {
        .pagination {
            .page-left, .page-right {
                font-size: 30px;
            }

            .page-number {
                font-size: 20px;
            }
        }
    }

    .stock-move {
        font-family: 'Argentum Sans';
        background-color: #ffffff;
        margin: 0.5rem;
        font-weight: 500;
        overflow: hidden;
        border: 2px solid transparent;

        &.selected {
            border: 2px solid var(--primary);
            box-shadow: 0 5px 5px 0 #00000011;
        }

        &.created {
            background-color: rgba(var(--danger), 0.1);
        }

        &.warned {
            &.selected {
                border-color: var(--danger) !important;
            }

            .btn-primary {
                border-color: var(--danger) !important;
                background-color: var(--danger) !important;
                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(var(--danger), 0.5);
                }
            }

            .bg-primary {
                background-color: var(--danger) !important;
            }

            .border-primary {
                border-color: var(--danger) !important;
            }
        }

        > div {
            padding: 0.8rem 2rem;
        }

        .stock-move-image {
            width: 80px;
            height: 80px;
            margin: 0 5px 5px 0;
            border-radius: 10px;

            img {
                max-height: 80px;
                max-width: 80px;
                overflow: hidden;
                object-fit: contain;
                background-color: #ffffff;
                border: 1px solid #cccccc;
            }
        }

        .o_line_button.o_picture img {
            max-width: 42px;
            max-height: 42px;
        }

        .stock-move-button {
            display: grid;
            gap: 5px;
            grid-template-columns: repeat(2, 1fr);
    
            &.column-3 {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .stock-move-lines {
            padding: 0.8rem 1rem;
            box-shadow: 0 0.5rem 1rem rgba(100, 100, 100, 0.2) inset;

            &:empty {
                display: none;
            }

            .stock-move-line {
                margin: 1em 0;
                padding: 1em;
                border-left: 5px solid #bbbbbb;
            }
        }
    }

    .collapse-row :hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
}

@media (max-width: 576px) {
    .o_barcode_action {
        .popup-dialog {
            width: 90%;
        }

        .stock-move {
            > div {
                padding: 0.8rem;
            }
    
            .stock-move-info {
                font-size: 0.7em;
            }
        }
    }
}

.o_web_client.dark_mode {
    .o_barcode_action {
        .stock-move {
            background-color: #444444;
            .stock-move-lines .stock-move-line {
                background-color: #666666;
            }
        }

        .popup-dialog {
            main {
                background-color: #333333;
            }
            footer {
                background-color: #222222;
            }
        }
    }
}

.o_web_client:not(.dark_mode) {
    .o_barcode_action {
        .stock-move {
            background-color: #ffffff;
            .stock-move-lines {
                background-color: #dddddd;
                .stock-move-line {
                    background-color: #ffffff;
                }
            }

            &.warned {
                .text-primary {
                    color: var(--danger) !important;
                }
            }
        }
    }
}