.o_barcode_action {
    .operations-screen {
        font-family: 'Argentum Sans';
        height: 100%;

        .operations-screen-bar {
            display: flex;
            align-items: center;
            align-items: stretch;
        }

        .operations-body {
            overflow-y: scroll;
            height: 100%;

            > div {
                padding: 25px 5px 150px;
                justify-items: center;
                display: grid;
                grid-row-gap: 5px;
                grid-column-gap: 5px;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                > div {
                    width: 300px;
                    min-width: 300px;
                    font-weight: 600;
                    margin: 0.5rem 0.5rem;
                    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                    border: 1px solid #dddddd;

                    > div:first-child {
                        display: flex;
                        padding: 1rem;
                        color: var(--odoo);
                        border-top: 5px solid var(--odoo);

                        h2 {
                            font-weight: 600;
                            letter-spacing: 0.8px;
                            color: var(--odoo);
                        }
                    }

                    .operations-card {
                        cursor: pointer;
                        display: flex;
                        padding: 0.8rem;
                        flex-direction: column;
                        border-bottom: 1px solid #cccccc;

                        .operations-card-lines {
                            min-height: 72px;
                            flex: 1 1 auto;
                            display: grid;
                            grid-template-columns: 3fr 2fr;

                            > div:first-child {
                                display: flex;
                                flex: 2 2 auto;
                                flex-direction: column;
                            }

                            > div:last-child {
                                display: flex;
                                flex: 1 1 auto;
                                flex-direction: column;
                            }
                        }

                        p {
                            margin: 0;
                            font-weight: 500;
                            font-size: 1.2rem;
                            letter-spacing: 0.8px;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }

    .pickings-screen {
        font-family: 'Argentum Sans';
        height: 100%;

        .pickings-screen-bar {
            display: flex;
            align-items: center;
            align-items: stretch;

            .pickings-search {
                margin-left: 2px;
                height: 100%;
                display: flex;
                align-items: center;

                .search-bar-input {
                    max-width: 300px;
                    border-radius: 5px;
                    border: 2px solid var(--primary);
                }
            }
        }

        .pickings-body {
            overflow-y: scroll;
            height: 100%;

            > div {
                padding: 25px 5px 150px;
                justify-items: center;
                display: grid;
                grid-row-gap: 5px;
                grid-column-gap: 5px;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                > div {
                    cursor: pointer;
                    width: 300px;
                    min-width: 300px;
                    margin: 0.3rem;
                    padding: 1rem 1.5rem 2rem;
                    font-family: 'Lato';
                    font-weight: 600;
                    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
                    border: 1px solid #dddddd;
                }
            }
        }
    }
}

.o_web_client.dark_mode {
    .o_barcode_action {
        .operations-screen {
            .operations-body {
                background-color: #333333;
                > div {
                    > div {
                        background-color: #222222;
                    }
                }
            }
        }
        .pickings-screen {
            .pickings-screen-bar {
                background-color: #333333;
            }
            .pickings-body {
                > div {
                    > div {
                        background-color: #333333;
                    }
                }
            }
        }
    }
}

.o_web_client:not(.dark_mode) {
    .o_barcode_action {
        .operations-screen {
            .operations-body {
                background-color: #eeeeee;
                > div {
                    background-color: #eeeeee;
                    > div {
                        background-color: #ffffff;
                    }
                }
            }
            .operations-screen-bar {
                background-color: #dddddd;
            }
        }
        .pickings-screen {
            .pickings-screen-bar {
                background-color: #dddddd;
                .pickings-search {
                    background-color: #cccccc;
                }
            }
            .pickings-body {
                background-color: #eeeeee;
                > div {
                    background-color: #eeeeee;
                    > div {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}