.o_barcode_action {
    .picking-screen {
        font-family: 'Argentum Sans';
        height: 100%;
    }

    .picking-name {
        color: #EEEEEE;
        margin: 0;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 1.9rem;
    }
}

@media (max-width: 768px) {
    .o_barcode_action {
        .picking-name {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 576px) {
    .o_barcode_action {
        .picking-name {
            font-size: 1.2rem;
        }
    }
}