html,
body {
    overscroll-behavior: none;
}

.zoom-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slider-red {
    --thumb-border: 2px solid #FFF;
    --thumb-background: #FF4C4C;
    --track-background: linear-gradient(#BA5252, #FCE2E2);
    --tooltip-background: #FFFAFA;
    --tooltip-border-color: #800;
    --tooltip-text-color: #A04;
    --effect-over: 0 0 0 .75em #A042;
    --effect-active: 0 0 0 .75em #F053;
}

.slider {
    --thumb-diameter: 2em;
    --thumb-radius: calc(var(--thumb-diameter) / 2);
    --thumb-background: #C3C3C3;
    --thumb-border: 2px solid #FFF;

    --track-height: .7em;
    --track-background: linear-gradient(#9D9D9D, #F0F0F0);
    --track-border-color: #CFCFCF;
    --track-border-width: 1px;

    --tooltip-background: #FFF;
    --tooltip-border-color: #888;
    --tooltip-border-width: 1px;
    --tooltip-hight-arrow: 1em;
    --tooltip-text-color: #666;

    --effect-over: 0 0 0 .75em #AAA2;
    --effect-active: 0 0 0 .75em #5F03;
    --value: 50;
    --pos: calc(var(--thumb-radius) + .01 * var(--value) *(100% - var(--thumb-diameter)));

    position: relative;
    max-width: 30em;
    margin: 2em auto;
    text-align: center;
    font-size: 1.25em;
}

.slider:before {
    content: attr(data-style) " : " attr(data-value);
    position: absolute;
    left: 0;
    margin-top: 1em;
    text-transform: capitalize;
    color: var(--tooltip-text-color);
}

.slider-tooltip {
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
    margin-left: calc(var(--pos) + var(--track-border-width));
    padding: .5em 1em;
    min-width: 2em;
    border: var(--tooltip-border-width) solid var(--tooltip-border-color);
    border-radius: 5px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--tooltip-text-color);
    background-color: var(--tooltip-background);
    box-shadow: 0 .25em .75em #0006;
    transition: .25s;
    translate: calc(-50%);
}

.slider-tooltip::after {
    content: "";
    position: absolute;
    top: calc(100% + var(--tooltip-border-width));
    left: 50%;
    width: var(--tooltip-hight-arrow);
    height: var(--tooltip-hight-arrow);
    border: inherit;
    border-top: none;
    border-left: none;
    background-color: inherit;
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(45deg);
}

.slider-range {
    display: block;
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 100%;
    height: var(--track-height);
    margin: 0;
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: var(--track-height);
    font-size: inherit;
    outline: none;
    background: #ECECEC;
    background-image: var(--track-background);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: var(--pos) var(--track-height);
    box-shadow: 0 0 1em #DCDCDC;
    cursor: pointer;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: var(--thumb-diameter);
    height: var(--thumb-diameter);
    border: var(--thumb-border);
    border-radius: 50%;
    background: var(--thumb-background);
    box-shadow: 0 0 .5em #888;
    cursor: ew-resize;
}

.slider-range::-moz-range-thumb {
    box-sizing: border-box;
    width: var(--thumb-diameter);
    height: var(--thumb-diameter);
    border: var(--thumb-border);
    border-radius: 50%;
    background: var(--thumb-background);
    box-shadow: 0 0 .5em #888;
    cursor: ew-resize;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: var(--effect-over);
}

input[type="range"]::-moz-range-thumb:hover {
    box-shadow: var(--effect-over);
}

input[type=range]:focus {
    outline: 3px dashed #4B8FE8;
    outline-offset: .5em;
}

input[type=range]:active {
    outline: none;
}

.o_barcode_action {
    height: 100%;

    [disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    h2,
    h2 {
        font-weight: 600;
    }

    h6,
    .h6 {
        font-weight: 500;
    }

    button {
        outline: none;
    }

    .bg-primary {
        background-color: var(--primary) !important;
    }

    .bg-odoo {
        background-color: var(--primary) !important;
    }

    .bg-dark-odoo {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }

    .bottom {
        bottom: 0;
    }

    .text-secondary {
        color: var(--odoo) !important;
    }

    .btn-secondary {
        background: #eeeeee;
        color: #222222;
    }

    .text-invert {
        filter: invert(1);
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .font-weight-400 {
        font-weight: 400;
    }

    .font-size-20 {
        font-size: 20px;
    }

    .hidden {
        visibility: hidden;
    }

    .popup {
        height: 100%;
        position: relative;

        .popup-header {
            display: flex;
            text-align: center;
            align-items: center;

            .popup-back {
                cursor: pointer;
                font-size: 50px;
                padding: 0.1rem 2rem;
            }
        }

        .popup-body {
            overflow: auto;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 84px;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .calculator {
            border: 1px solid #cccccc;

            .calculator-screen {
                width: 350px;
                height: 60px;
                font-size: 4rem;
                padding-left: 10px;
                padding-right: 20px;
                border: none;
                color: #ffffff;
                text-align: right;
                background-color: #252525;
            }

            .calculator-buttons {
                display: grid;
                grid-gap: 10px;
                padding: 20px 0px 10px 20px;
                grid-template-columns: repeat(3, 1fr);

                button {
                    height: 55px;
                    width: 55px;
                    font-size: 2rem !important;
                }
            }

            .calculator-increment {
                display: grid;
                grid-gap: 10px;
                padding: 20px 10px 10px 10px;
                grid-template-columns: repeat(2, 1fr);

                button {
                    height: 55px;
                    width: 55px;
                    font-size: 2rem !important;
                }
            }
        }
    }

    .back-button-left {
        cursor: pointer;
        padding: 0.1rem 2rem;
        font-size: 50px;
    }

    .confirm-button {
        background-color: var(--primary);
        font-family: 'Argentum Sans';
        border-radius: 0px;
        border-style: none;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        height: 5rem;
        width: 50%;
        line-height: 20px;
        list-style: none;
        margin: 0px;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .confirm-button:hover,
    .confirm-button:focus {
        filter: brightness(0.9);
    }

    .btn-disabled {
        pointer-events: none;
    }

    .o_barcode .btn {
        height: 30px;
    }

    .o_barcode .o_barcode_input {
        height: 30px;
        max-width: 150px;
        border: 2px solid #cccccc;
    }

    .o_line_buttons {
        min-width: 132px;
        text-align: right;
    }

    .o_line_buttons .o_line_button {
        border-radius: 8px;
        line-height: 16px;
        min-width: 60px;
        padding: 0 8px;
        height: 60px;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-transform: none;
        text-overflow: ellipsis;
    }


    .o_barcode_scanner_qty {
        font-size: 1em;
        border-color: transparent;
        margin-left: 0.4em;
    }

    .o_barcode_scanner_qty .qty-done {
        min-width: 20px;
    }

    .o_button_qty_done {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1em;
    }

    .o_barcode_editable {
        min-width: 100%;
        max-width: 100%;
        padding: 8px;
        border: 1px solid #cccccc;
        margin-bottom: 5px;
    }

    .scanning-screen {
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        align-items: stretch;
        flex-direction: column;

        .scanning-screen-bar {
            display: flex;
            color: #ffffff;
            position: relative;
            align-items: center;
            align-items: stretch;
            justify-content: space-between;
            background-color: var(--primary);

            .scanning-screen-bar-item {
                margin-left: 2px;
                height: 100%;
                display: flex;
                user-select: none;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.05);

                button {
                    background-color: rgba(0, 0, 0, 0.05);
                    padding: 0.4rem 1rem;
                    font-size: 2rem;
                    height: 100%;
                    border: 0;
                    gap: 5px;
                    display: flex;
                    color: #ffffff;
                    align-items: center;
                    justify-content: center;
                }

                .dropdown-div {

                    h2,
                    h3 {
                        color: #ffffff !important;
                        margin: 0;
                    }

                    i {
                        color: #ffffff !important;
                    }
                }
            }

            .scanning-screen-button {
                height: 100%;
                margin-left: 2px;
                display: flex;
                align-items: center;

                button {
                    background-color: rgba(0, 0, 0, 0.05);
                    padding: 0.4rem 2rem;
                    font-size: 2rem;
                    height: 100%;
                    border: 0;
                    color: #ffffff;
                }
            }

            .dropdown-lists {
                background-color: rgba(0, 0, 0, 0.05);
                color: #ffffff;
                margin-left: 2px;

                .dropdown-div {
                    color: #ffffff;
                }

                img {
                    filter: invert(1);
                }

                .text-700 {
                    color: #ffffff !important;
                }
            }
        }


        .scanning-screen-subbar {
            background-color: #cccccc;
            position: relative;
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            .scanning-screen-subbar-item {
                color: var(--odoo);

                .dropdown-div {
                    i {
                        color: var(--odoo) !important;
                    }

                    h2 {
                        color: var(--odoo) !important;
                    }
                }
            }
        }

        .scanning-screen-body {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            position: relative;
            flex-direction: column;

            .scanning-screen-notification {
                inset: 0;
                gap: 1em;
                z-index: 9;
                width: 100%;
                height: 100%;
                font-size: 2em;
                padding-top: 5em;
                display: flex;
                position: absolute;
                flex-direction: column;
            }

            .scanning-screen-line {
                scroll-behavior: smooth;

                &::-webkit-scrollbar {
                    width: 11px;
                    height: 8px;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.2);
                    border: 1px solid transparent;
                    background-clip: content-box;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba(0, 0, 0, 0.05);
                    border-radius: 4px;
                    width: 4px;
                }
            }
        }

        .scanning-screen-title {
            height: 100%;
            display: flex;
            align-items: center;

            h2 {
                color: #ffffff !important;
                margin: 0;
            }
        }
    }
}

@media (max-width: 576px) {
    .o_barcode_action {
        .back-button-left {
            padding: 0.1rem 1rem;
            font-size: 30px;
        }

        .scanning-screen-bar i {
            font-size: 1em !important;
        }

        .sm-up,
        .md-up,
        .lg-up,
        .xl-up,
        .xxl-up {
            display: none !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .o_barcode_action {
        .back-button-left {
            padding: 0.1rem 1rem;
            font-size: 40px;
        }

        .md-up,
        .lg-up,
        .xl-up,
        .xxl-up,
        .xs-down {
            display: none !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .o_barcode_action {
        .back-button-left {
            padding: 0.1rem 1rem;
            font-size: 40px;
        }

        .lg-up,
        .xl-up,
        .xxl-up,
        .sm-down,
        .xs-down {
            display: none !important;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .o_barcode_action {

        .xl-up,
        .xxl-up,
        .md-down,
        .sm-down,
        .xs-down {
            display: none !important;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .o_barcode_action {
        .scanning-screen-bar-item {
            button {
                min-width: 2em;
            }
        }

        .xxl-up,
        .lg-down,
        .md-down,
        .sm-down,
        .xs-down {
            display: none !important;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .o_barcode_action {
        .scanning-screen-bar-item {
            button {
                min-width: 3em;
            }
        }

        .xl-down,
        .lg-down,
        .md-down,
        .sm-down,
        .xs-down {
            display: none !important;
        }
    }
}

@media (min-width: 1400px) {
    .o_barcode_action {
        .scanning-screen-bar-item {
            button {
                min-width: 3em;
            }
        }

        .xxl-down,
        .xl-down,
        .lg-down,
        .md-down,
        .sm-down,
        .xs-down {
            display: none !important;
        }
    }
}

.o_web_client.dark_mode {
    .o_barcode_action {
        .bg-light-gray.text-primary {
            color: #ffffff !important;
        }

        .dropdown-div {
            color: #333333 !important;
        }
    }
}

.o_web_client:not(.dark_mode) {
    .bg-gray {
        background-color: #dddddd;
    }

    .bg-light-gray {
        background-color: #f3f3f3;
    }

    .o_barcode_action {
        .scanning-screen {
            .scanning-screen-body {
                background-color: #eeeeee;

                .scanning-screen-notification {
                    background-color: #333333aa;
                }
            }
        }
    }

    .popup {
        background-color: #ffffff;

        .popup-header {
            background-color: #eeeeee;
        }
    }
}